node-red/.flows.json.backup
[{"id":"flow1","type":"tab","label":"SENTRY Flow","disabled":false,"info":""},{"id":"websocket-server","type":"websocket-listener","path":"/smoke-data","wholemsg":"false"},{"id":"3b0fbeecd69932ae","type":"mqtt-broker","name":"HiveMQ","broker":"bd3614c9a04c43319ebd9a3c8e45c247.s1.eu.hivemq.cloud","port":"8883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"mqtt-in","type":"mqtt in","z":"flow1","name":"Smoke Sensor MQTT","topic":"iot/smoke/data","qos":"0","datatype":"auto-detect","broker":"3b0fbeecd69932ae","nl":false,"rap":false,"inputs":0,"x":250,"y":120,"wires":[["json-parser"]]},{"id":"json-parser","type":"json","z":"flow1","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":500,"y":120,"wires":[["websocket-out","debug-node"]]},{"id":"websocket-out","type":"websocket out","z":"flow1","name":"React Dashboard WS","server":"websocket-server","x":790,"y":100,"wires":[]},{"id":"debug-node","type":"debug","z":"flow1","name":"MQTT Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":180,"wires":[]}]